*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.main{
    width: 100%;
    height: 100vh;
    background: linear-gradient(39deg, #ffffff, #161717); 
    display: flex;
    align-items: center;
    justify-content: center;

}
.main h1{
    font-size: 10vw;
    color: white
}
.g1{
    color: rgb(255, 255, 255);
}
.g2{
    color: rgb(0, 0, 0);
}
.g3{
    color: rgb(255, 255, 255);
}
.g4{
    color: rgb(0, 0, 0);
}
.g5{
    color: rgb(255, 255, 255);
}
.g6{
    color: rgb(0, 0, 0);
}